.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Prompt {
  width: 90%;
  height: 10rem;
}

.hovered {
  color:yellow;
  cursor: pointer;
}

.content {
  white-space: nowrap; 
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.editing {
  color: red;
}

.settings {
  font-size: 1rem;
}

.authToken {
  width:100%;
  padding: 0.175rem 0.45rem;
  background:gray;
}

.help {
  font-size:0.2rem;
}

.locale {
  font-size:0.9rem;
}

.btn {
  color: white;
  background: teal;
  padding: 0.275rem 0.75rem;
  border: 1px solid teal;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

.btn:disabled {
  color:gray;
  background: darkslategrey;  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
